<div data-controller="application" class="fr-tile fr-tile--horizontal w-full mb-4">
    <div class="w-full">
        <div class="p-4 border-b border-gray-200">
            <div class="w-full flex flex-row items-center">
                <div class="flex-shrink flex-1 truncate text-lg">
                    <strong>{{ application.name }}</strong>
                </div>
                {% if (not sandbox) and application.dataPassId %}
                    <div class="flex-shrink-0">
                        <a
                            class="text-blue-800 hover:text-blue-900"
                            href="https://datapass.api.gouv.fr/api-particulier/{{ application.dataPassId }}">DataPass n°{{ application.dataPassId }}</a>
                    </div>
                {% endif %}
                {% if sandbox %}
                    <form
                        data-application-target="deleteForm"
                        method="POST"
                        action="/applications/{{ application.id }}?_method=DELETE"
                        data-turbo-frame="user-applications">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <div>
                            <i
                                class="text-gray-400 hover:text-gray-900 cursor-pointer far fa-trash-alt fa-lg"
                                data-action="click->application#delete"></i>
                        </div>
                    </form>
                {% endif %}
            </div>
            <div class="w-full text-sm text-gray-400">
                <i>{{ application.createdOn | date }}</i>
            </div>
        </div>
        <div class="flex items-center px-4 pt-4 pb-2">
            <div class="mr-4">
                <strong>Périmètre</strong>
            </div>
            <div class="flex space-x-2 items-center">
                {% for subscription in application.token.subscriptions %}
                    <span class="fr-tag">{{ subscription }}</span>
                {% endfor %}
                <span
                    class="text-blue-800 hover:text-blue-900 text-sm hover:underline cursor-pointer"
                    data-action="click->application#toggleScopesDisplay">
                    <i data-application-target="displayScopesLink">Afficher les scopes</i>
                </span>
            </div>
        </div>
        <div class="hidden p-4" data-application-target="scopes">
            {% for sectionName, scopes in scopesConfiguration %}
                <fieldset class="fr-fieldset fr-fieldset--inline mb-6">
                    <legend class="fr-fieldset__legend fr-text--regular" id='checkboxes-inline-legend'>
                        <i>{{ sectionName }}</i>
                    </legend>
                    <div class="fr-fieldset__content">
                        {% for scope, label in scopes %}
                            <div class="fr-checkbox-group">
                                <input type="checkbox" id="scopes[{{ scope }}]" name="scopes[{{ scope }}]" {% if application.token.scopes.includes(scope) %} checked {% endif %} disabled>
                                    <label class="fr-label" for="scopes[{{ scope }}]">{{ label }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                {% endfor %}
            </div>
            <div class="w-full flex flex-row items-center px-4 pb-4 pt-1">
                <div class="whitespace-nowrap truncate flex-shrink-0 max-w-lg">
                    <strong>Jeton</strong>
                </div>
                <div class="flex-shrink flex-1 truncate text-center mx-4">
                    <input data-application-target="source" type="textarea" value="{{ application.token.value }}" readonly class="absolute opacity-0 -left-32"/>
                    <div class="select-all truncate">{{ application.token.value }}</div>
                </div>
                <div class="flex-shrink-0">
                    <button data-application-target="button" class="fr-btn whitespace-nowrap">
                        Copier dans le presse-papier
                    </button>
                </div>
            </div>
        </div>
    </div>
