<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Portail développeur | API Particulier</title>
<link rel="stylesheet" type="text/css" href="/index.css"/>
<link rel="apple-touch-icon" href="https://api.gouv.fr/favicons/apple-touch-icon.png"/>
<link rel="icon" href="https://api.gouv.fr/favicons/favicon.svg" type="image/svg+xml"/>
<link rel="shortcut icon" href="https://api.gouv.fr/favicons/favicon.ico" type="image/x-icon"/>
<meta name="viewport" content="width=device-width"/>
<script src="/index.js"></script>
