<div class="w-full rounded border-dashed border-2 bg-gray-50 hover:bg-gray-100 border-gray-300 h-48 cursor-pointer flex
        justify-center items-center">
    <span class="fr-fi-add-line" aria-hidden="true"></span>
</div>
