CAF_CERTIFICATE="-----BEGIN CERTIFICATE----\n-----END CERTIFICATE-----"
CAF_PRIVATE_KEY="-----BEGIN PRIVATE KEY----\n-----END PRIVATE KEY-----"
CAF_HOST="https://caf"

TEST_TAX_NUMBER=
TEST_TAX_NOTICE_NUMBER=
TEST_NUMERO_ALLOCATAIRE=
TEST_CODE_POSTAL=
TEST_POLE_EMPLOI_ID=
TEST_MESRI_INE=
TEST_MESRI_NOM=
TEST_MESRI_PRENOM=
TEST_MESRI_DATE_NAISSANCE=
TEST_MESRI_SEXE=
TEST_MESRI_LIEU_NAISSANCE=
TEST_OIDC_EMAIL=
TEST_OIDC_PASSWORD=

DATABASE_URL=postgres://api-particulier:api-particulier@localhost:5432/api-particulier
TEST_DATABASE_URL=postgres://api-particulier:api-particulier@localhost:5433/api-particulier

NODE_ENV=development
LOG_LEVEL=3
SENTRY_DSN=
ENV=local
SANDBOXED=true
SENTRY_ENABLED=false

AIRTABLE_DGFIP_API_URL=
AIRTABLE_API_KEY=
AIRTABLE_CNAF_API_URL=
AIRTABLE_POLE_EMPLOI_API_URL=
AIRTABLE_MESRI_API_URL=

PING_TOKEN=dev-token
DATAPASS_API_KEY=

POLE_EMPLOI_TOKEN_URL=token_url
POLE_EMPLOI_CLIENT_ID=client_id
POLE_EMPLOI_CLIENT_SECRET=client_secret
POLE_EMPLOI_SCOPES=scopes
POLE_EMPLOI_API_URL=api_url

SUPDATA_API_URL=
SUPDATA_INE_API_KEY=
SUPDATA_CIVILITE_API_KEY=

ISSUER_URL=
BASE_URL=
REDIRECT_URL=
CLIENT_ID=
CLIENT_SECRET=
SESSION_SECRET=

ADMIN_USERS=

APPLICATION_URL=http://localhost:3000

DATABASE_SCHEMA=public
DATABASE_SSL=false
# This should be removed in production environment.
DATABASE_REJECT_UNAUTHORIZED=false

FOREST_AUTH_SECRET=
FOREST_ENV_SECRET=

FRANCE_CONNECT_CHECK_TOKEN_URL=
