version: '3.9'

services:
  db:
    extends:
      file: .devcontainer/docker-compose.yml
      service: db
    ports:
      - 5432:5432
  test-db:
    extends:
      file: .devcontainer/docker-compose.yml
      service: test-db
  cache:
    extends:
      file: .devcontainer/docker-compose.yml
      service: cache
    ports:
      - 6379:6379
  web:
    build:
      context: docker/web
      dockerfile: Dockerfile
    volumes:
      - .:/app:cached
      - /app/node_modules
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/postgres
      TEST_DATABASE_URL: postgres://postgres:postgres@test-db:5432/postgres
      REDIS_URL: redis://cache/
      NODE_ENV: development
      LOG_LEVEL: '1'
      ENV: local
      SENTRY_ENABLED: 'false'
    ports:
      - 3000:3000
      - 3001:3001
    depends_on:
      - db
      - cache

volumes:
  postgres-data:
