<footer class="fr-footer" role="contentinfo" id="footer">
    <div class="fr-container">
        <div class="fr-footer__body">
            <div class="fr-footer__brand fr-enlarge-link">
                <a href="/" title="Retour à l’accueil">
                    <p class="fr-logo" title="république française">
                        république
                        <br>française
                    </p>
                </a>
            </div>
            <div class="fr-footer__content">
                <p class="fr-footer__content-desc">Accédez aux données fiscales (DGFIP), familiales (CAF), au statut
                    pôle-emploi et au statut étudiant des particuliers pour simplifier des démarches
                    administratives.</p>
                <ul class="fr-footer__content-list">
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://service-public.fr">service-public.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://api.gouv.fr">api.gouv.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link"
                            href="https://api.gouv.fr/les-api/api-particulier">api.gouv.fr/les-api/api-particulier</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fr-footer__bottom">
            <ul class="fr-footer__bottom-list">
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="#">Accessibilité: non conforme</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link"
                        href="https://api.gouv.fr/resources/CGU%20API%20Particulier.pdf">Mentions légales</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
