<div class="rf-tile rf-tile--horizontal rf-mb-4w">
    <div data-controller="clipboard" class="rf-m-4w w-full flex flex-row items-center">
        <div><strong>{{ application.name }}</strong></div>
        <div class="flex-1 text-center mx-4">
            <input data-clipboard-target="source" type="textarea" value="{{#each keys}}{{ id }}{{/each}}" readonly
                class="absolute opacity-0 -left-32">
            <div class="select-all">{{#each keys}}{{ id }}{{/each}}</div>
        </div>
        <button data-action="clipboard#copy" data-clipboard-target="button" class="rf-btn hidden">Copier dans le
            presse-papier</button>
    </div>
</div>
