<!DOCTYPE html>
<html data-rf-reset>

<head>
    <meta charset="utf-8" />
    <title>Portail développeur | API Particulier</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <link rel="icon" href="https://api.gouv.fr/favicon.ico" />
</head>

<body class="flex flex-col min-h-screen justify-between">
    {{> header }}

    {{{ body }}}

    {{> footer }}
</body>

<script src="index.js"></script>

</html>
