<!DOCTYPE html>
<html>
    <head>
        {% include 'includes/head.njk' %}
    </head>
    <body class="flex flex-col min-h-screen justify-between">
        {% include 'includes/header.njk' %}
        <div class="max-w-6xl mx-auto lg:px-8 mt-16 flex-1">
            {% block body %}{% endblock %}
        </div>
        {% include 'includes/footer.njk' %}
    </body>
    <script src="/index.js"></script>
</html>
