name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
      postgres:
        image: timescale/timescaledb:latest-pg13
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: "16.x"
      - run: npm ci
      - run: npm run lint
      - run: npm run build
      - run: npm run test
      - run: npm run test:integration
        env:
          CAF_CERTIFICATE: ${{ secrets.CAF_CERTIFICATE }}
          CAF_PRIVATE_KEY: ${{ secrets.CAF_PRIVATE_KEY }}
          CAF_HOST: ${{ secrets.CAF_HOST }}
          TEST_CODE_POSTAL: ${{ secrets.TEST_CODE_POSTAL }}
          TEST_NUMERO_ALLOCATAIRE: ${{ secrets.TEST_NUMERO_ALLOCATAIRE }}
          TEST_TAX_NOTICE_NUMBER: ${{ secrets.TEST_TAX_NOTICE_NUMBER }}
          TEST_TAX_NUMBER: ${{ secrets.TEST_TAX_NUMBER }}
          TEST_POLE_EMPLOI_ID: ${{ secrets.TEST_POLE_EMPLOI_ID }}
          TEST_MESRI_INE: ${{ secrets.TEST_MESRI_INE }}
          TEST_MESRI_NOM: ${{ secrets.TEST_MESRI_NOM }}
          TEST_MESRI_PRENOM: ${{ secrets.TEST_MESRI_PRENOM }}
          TEST_MESRI_DATE_NAISSANCE: ${{ secrets.TEST_MESRI_DATE_NAISSANCE }}
          TEST_MESRI_LIEU_NAISSANCE: ${{ secrets.TEST_MESRI_LIEU_NAISSANCE }}
          TEST_MESRI_SEXE: ${{ secrets.TEST_MESRI_SEXE }}
          TEST_CNOUS_INE: ${{ secrets.TEST_CNOUS_INE }}
          TEST_CNOUS_NOM: ${{ secrets.TEST_CNOUS_NOM }}
          TEST_CNOUS_PRENOMS: ${{ secrets.TEST_CNOUS_PRENOMS }}
          TEST_CNOUS_DATE_NAISSANCE: ${{ secrets.TEST_CNOUS_DATE_NAISSANCE }}
          TEST_CNOUS_LIEU_NAISSANCE: ${{ secrets.TEST_CNOUS_LIEU_NAISSANCE }}
          TEST_CNOUS_SEXE: ${{ secrets.TEST_CNOUS_SEXE }}
          POLE_EMPLOI_TOKEN_URL: ${{ secrets.POLE_EMPLOI_TOKEN_URL }}
          POLE_EMPLOI_CLIENT_ID: ${{ secrets.POLE_EMPLOI_CLIENT_ID }}
          POLE_EMPLOI_CLIENT_SECRET: ${{ secrets.POLE_EMPLOI_CLIENT_SECRET }}
          POLE_EMPLOI_SCOPES: ${{ secrets.POLE_EMPLOI_SCOPES }}
          POLE_EMPLOI_API_URL: ${{ secrets.POLE_EMPLOI_API_URL }}
          SUPDATA_API_URL: ${{ secrets.SUPDATA_API_URL }}
          SUPDATA_INE_API_KEY: ${{ secrets.SUPDATA_INE_API_KEY }}
          SUPDATA_CIVILITE_API_KEY: ${{ secrets.SUPDATA_CIVILITE_API_KEY }}
          CNOUS_API_URL: ${{ secrets.CNOUS_API_URL }}
          CNOUS_ENV: ${{ secrets.CNOUS_ENV }}
          CNOUS_CLIENT_ID: ${{ secrets.CNOUS_CLIENT_ID }}
          CNOUS_CLIENT_SECRET: ${{ secrets.CNOUS_CLIENT_SECRET }}
          CNOUS_TOKEN_URL: ${{ secrets.CNOUS_TOKEN_URL }}
          TEST_DATABASE_URL: postgres://postgres:postgres@localhost:5432/postgres
  coverage:
    needs: [test]
    name: coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: "16.x"
      - run: npm ci
      - run: npm run coverage
      - name: report to Coveralls
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
